datasets
**/*.pyc
**/__pycache__
.ipynb_checkpoints
.DS_Store
submissions/**/out
wandb

*.aux
*.log
*.synctex.gz
*.out
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
*.fdb_latexmk
*.fls
*.synctex(busy)
*.synctex.gz(busy)
*.brf
