datasets
**/*.pyc
**/__pycache__
.ipynb_checkpoints
.DS_Store
submissions/**/out
wandb

*.aux
*.log
*.synctex.gz
*.out
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
*.fdb_latexmk
*.fls
*.synctex(busy)
*.synctex.gz(busy)
*.brf
mnist-nerfs/*.pth
mnist-data
generation/mnist-nerfs
generation/frames

*ubyte
*.gz
*.whl

*.gif
*.mp4
*.png